@import '../colors';
@import '../fonts';

footer {
  background-color: $primary;
  border-top: 2px solid $tertiary;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  > p, a {
    margin: 0 10px;
    color: $white;
  }
}

.footer-icon {
  height: 35px;
  width: 35px;
  margin: 5px 5px;
}
