@import '../colors';
@import '../fonts';

footer {
  background-color: $white;
  border: 2px solid $blue;
  bottom: 0;
  position: fixed;
  width: 100%;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;

    > p {
      margin: 0 10px;
    }
  }
}
