@import '../colors';
@import '../fonts';

#projects {
  background-color: $primary;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.thumbnail {
  border: 5px solid $tertiary;
  margin: 20px;
  padding: 0;
  width: 350px;

  > img {
    height: 200px;
    padding: 5px;
   }

  > div > h3 {
    color: $white;
    font-family: $primary-text;
    margin: 0 auto 10px;
    text-align: center;
   }
 }

.caption {
  background-color: $primary;
  border-top: 5px solid $tertiary;

  > h4 {
    color: $white;
    font-family: $primary-text;
    padding: 0 10px 10px;
    text-align: center;
  }
}

.thumbnail-text {
  color: $white;
  height: 150px;
  margin-bottom: 20px;
  overflow: scroll;
}
