@import '../colors';
@import '../fonts';

section {
  background-color: $white;
}

section {
  border: 5px solid $tertiary;
  margin: 40px;
  padding: 0;

  > div {
    background-color: $primary;
    margin: 0 auto;
  }
}

.section-header {
  color: $white;
  font-family: $primary-text;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
}

.sub-header {
  color: $white;
  font-family: $primary-text;
  font-size: 26px;
  text-align: center;
}

.section-text {
  color: $white;
  margin: 0;
  padding: 20px 10%;
  text-align: center;
  font-size: 18px;
}

.star-light {
  width: 80%;
}
