@import '../colors';
@import '../fonts';

#skills {
  > h2 {
    background-color: $primary;
    margin: 0;
    padding-top: 20px;
  }

  > div > div > h3 {
    margin-bottom: 5px;
  }

 > hr {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    background-color: $primary;
  }
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  padding: 20px 10%;

  > p {
    color: $white;
    background-color: $tertiary;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 5%;
    text-align: center;
  }
}
