$header-text: 'Mountains of Christmas', cursive;

.jumbo-text-1 {
  color: $white;
  font-family: $header-text;
  font-size: 104px;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 50px;
  text-align: center;
}

.jumbo-text-2 {
  color: $white;
  font-family: $header-text;
  font-size: 82px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
