$header-text: 'Mountains of Christmas', cursive;
$section-header-text: 'Lobster', cursive;

.jumbo-text-1 {
  color: $white;
  font-family: $header-text;
  font-size: 104px;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 50px;
  text-align: center;
}

.jumbo-text-2 {
  color: $white;
  font-family: $header-text;
  font-size: 82px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.section-header {
  font-family: $section-header-text;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 3px;
}

.text-center {
  text-align: center;
}
