$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './formatting/main';
@import './images';
@import './fonts';

// Mobile Start --------------------------------------------------------
// iPhone 6

@media (max-width: 568px) {
  body {
    margin: 0 auto;
    padding: 0 0 44px;
  }

  // Nav Bar
  nav {
    width: 100vw;

    > ul {
      margin: 0;

      > li {
        font-size: 14px;
        margin: 0;
      }
    }

  }

  // Landing Image
  .jumbotron {
    margin: 0;
    padding-top: 25px;
    width: 100vw;
  }

  .landing-img {
    padding-top: 0;
  }

  // Sections
  section {
    margin: 5px;
  }

  // About section
  .about-img {
    margin-top: 20px;
    width: 150px;
  }

  .section-header {
    font-size: 36px;
  }

  .sub-header {
    color: $white;
    font-family: $primary-text;
    font-size: 16px; //
    text-align: center;
  }

  // Projects Section
  .thumbnail {
    margin: 10px auto;
    width: 90%;
   }

  // Footer
  .footer-icon {
    height: 35px;
    width: 35px;
  }

  .footer-text {
    display: none;
  }

  .resume-download {
    display: none;
  }
}
