$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './formatting/main';
@import './images';
@import './fonts';

// Mobile Start --------------------------------------------------------

// @media (max-width: 1024px) {
//   .jumbotron {
//     height: 300px;
//   }
//
//   .jumbo-text-1 {
//     color: $white;
//     font-family: $header-text;
//     font-size: 42px;
//     font-weight: bold;
//     margin-bottom: 0;
//     padding-top: 40px;
//     text-align: center;
//   }
//
//   .jumbo-text-2 {
//     color: $white;
//     font-family: $header-text;
//     font-size: 24px;
//     font-weight: bold;
//     margin: 0;
//     text-align: center;
//   }
// }
//
// // Mobile End ----------------------------------------------------------
//
// // Tablet Start --------------------------------------------------------
//
// @media (max-width: 660px) {
//   .jumbotron {
//     height: 300px;
//   }
//
//   .jumbo-text-1 {
//     color: $blue;
//     font-family: $header-text;
//     font-size: 32px;
//     font-weight: bold;
//     padding-bottom: 0;
//     padding-left: 5px;
//     padding-top: 236px;
//     text-align: left;
//   }
//
//   .jumbo-text-2 {
//     color: $blue;
//     font-family: $header-text;
//     font-size: 24px;
//     font-weight: bold;
//     margin: 0;
//     padding-left: 30px;
//     text-align: left;
//   }
// }
// Tablet End ----------------------------------------------------------
