@import './colors';

body {
  background-color: $blue;
  margin: 0;
  padding: 0;
}

li {
  font-size: 32px;
}

.navbar-brand {
  font-size: 32px;
}

.navbar {
  border: 2px solid $blue;
}

.jumbotron {
  background-image: url('./images/mountain-snow.jpg');
  background-size: cover;
  height: 1400px;
  margin: 0;
  padding: 0;
}

section {
  background-color: $white;
  border-radius: 20px;
  margin: 30px;
}

.about-img {
  width: 250px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.thumbnail {
  > img {
    height: 200px;
   }
 }

.thumbnail-text {
  height: 150px;
  overflow: scroll;
}
