@import './colors';

body {
  background-color: $blue;
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url('./images/mountain-snow.jpg');
  background-size: cover;
  height: 600px;
  margin: 0;
  padding: 0;
}

section {
  background-color: $white;
  margin: 30px;
}
